<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {{errorCode}} Error
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/error/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>