<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      BRRRRT THAT
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>